/* Code by me */

button {
    font-size: 30px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%; /* Make the buttons circular */
    width: 120px; /* Set the width and height to ensure circular shape */
    height: 120px;
    border: solid; /* Remove default button border */
}

#computer-rock, #computer-paper, #computer-scissors {
    cursor: auto;
}

.options {
    display: flex;
    flex-direction: column; /* Align buttons vertically */
    align-items: center; /* Align buttons at the center horizontally */
}

.scoreboard {
    display: flex;
    flex-direction: column; /* Align buttons vertically */
    align-items: center; /* Align buttons at the center horizontally */
    gap: 20px;
}

.gameboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}