/* Original by: https://github.com/arasgungore/Tic-Tac-Toe */

section {
    text-align: center;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid;
    border-collapse: collapse;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: auto;
    color: #343a40;
    border: 2px solid;
}